{% extends "layout.html.twig" %}
{% block titre %}{% endblock %}
{% block contenu %}
    {# bg-img img-project  #}
    {# bg-{{categorie.code}} #}
    <div class="jumbotron rounded-0 pt-2 bg-grd2 mb-0 border-bottom shadow-sm mt-5">
        <div class="container pb-5">
            <nav aria-label="breadcrumb mb-4" >
                <ol class="breadcrumb bg-transparent text-white font-weight-normal px-0">
                    <li class="breadcrumb-item">
                        <a href="{{ path_for('home') }}" class="text-white">
                            Accueil
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{{ path_for('categorie') }}" class="text-white">Facultés</a>
                    </li>
                    {% if sousCategorie is empty %}
                        <li class="breadcrumb-item text-white-50">{{ categorie.nom  | capitalize }}</li>
                    {% else %}
                        <li class="breadcrumb-item">
                            <a href="{{ path_for('categorie',{'categorieNom': generateURL(categorie.nom) }) }}" class="text-white">
                                {{ categorie.nom  | capitalize}}
                            </a>
                        </li>
                        <li class="breadcrumb-item text-white-50">{{ sousCategorie.nom }}</li>
                    {% endif %}
                </ol>
            </nav>
            <h6 class="display-4 text-white mt-5">
                {{ categorie.nom }}
            </h6>
            {% if sousCategorie %}
                <h4 class="text-white-50 mt-3">
                    {{sousCategorie.nom}}
                </h4>
            {% endif %}
        </div>
    </div>
    <main class="bg-light">
        <div class="container py-3">
            <div class="row no-gutters py-4 bg-white rounded shadow-sm">
                <div class="col-2 p-2 px-3">
                    <h6 class="color-pr mb-3 font-weight-bold color-secondary">Les départements</h6>
                    {% for souscategorie in categorie.souscategories %}
                        <a class="font-14 d-block my-1 py-2 {{ active == souscategorie.nom ? 'link-active' : '' }}" href="{{ path_for('categorie' , { 'categorieNom' : generateURL(categorie.nom) , 'sousCategorieNom' : generateURL(souscategorie.nom) } ) }}">
                            {{ souscategorie.nom }}
                        </a>
                    {% endfor %}
                </div>
                <div class="col-10 p-2 px-3 border-left d-flex flex-column">
                    <div class="d-flex justify-content-between">
                        <h6 class="color-pr mb-3 pb-3 ">Resultat({{ total }})</h6>
                    </div>
                    {% if documents|length != 0 %}
                        <ul class="list-unstyled media-wrapper">
                            {% for document in documents %}

                                <li class="media">
                                    <img src="/public/img/doc-cover.jpg" class="align-self-start mr-3" alt="document cover" height="75">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a class="color-secondary font-weight-bold"  href="{{ path_for('document' , {'id': document.id}) }}">
                                                {{ document.titre }}
                                            </a>
                                        </h5>
                                        <h6 class="mb-3 text-muted">
                                            {{ document.auteur }} | {{ document.souscategorie.nom }} | {{ document.universite }}
                                        </h6>
                                        <p class="text-justify">
                                            {{ document.resume }}
                                        </p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <nav aria-label="Page navigation" class="d-flex justify-content-between mt-auto">
                            <h6 class="font-weight-bold text-muted mt-4">Page
                                {{ pageCourante }}</h6>
                            {% if nombrePage != 1 %}
                                <ul class="pagination mt-4">
                                    {% for i in 1..nombrePage %}
                                        {% if pageCourante == i %}
                                            <li class="active mx-2">
                                                <span class="page-link rounded border-0">
                                                    {{ i }}
                                                </span>
                                            </li>
                                        {% else %}
                                            <li class="mx-2">
                                                <a class="page-link rounded border-0" href="?page={{ i }}">{{ i }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </nav>
                    {% else %}
                        <h2 class="color-lead p-4">Aucun document disponible</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
