{% extends "layout.html.twig" %}
{% block titre %}{% endblock %}
{% block contenu %}
    <div class="jumbotron rounded-0 bg-img img-project pt-2 mb-0 border-bottom shadow-sm">
        <div class="container py-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent text-white font-weight-normal px-0">
                    <li class="breadcrumb-item">
                        <a href="{{ path_for('home') }}" class="text-white">
                            <i class="mt-n2" data-feather="home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{{ path_for('categorie') }}" class="text-white">Categorie</a>
                    </li>
                    {% if sousCategorie is empty %}
                        <li class="breadcrumb-item">{{ categorie.nom  | capitalize }}</li>
                    {% else %}
                        <li class="breadcrumb-item">
                            <a href="{{ path_for('categorie',{'categorieNom': generateURL(categorie.nom) }) }}" class="text-white">
                                {{ categorie.nom  | capitalize}}
                            </a>
                        </li>
                        <li class="breadcrumb-item">{{ sousCategorie.nom }}</li>
                    {% endif %}
                </ol>
            </nav>
            <h3 class="text-white font-weight-bold pt-3 mt-5 mb-5 display-4">
                {{ categorie.nom | capitalize }}
            </h3>
        </div>
    </div>
    <main class="bg-light">
        <div class="container py-3">
            <div class="row no-gutters bg-white rounded shadow-sm mb-4">
                <div class="col-sm-12 p-4 color-lead">
                    <h3 class="color-pr">A propos</h3>
                    <hr>
                    <p>
                        Bienvenue sur la base des Projets de Fin d'Etudes (PFE) de la categorie {{ categorie.nom }},
                        ici vous pouvez Accédez à document concernant des domaines et thématiques différentes. 
                        Vous pouvez aussi mettre des évaluation sur les pfe .
                    </p>
                    <h1 class="font-weight-bold">
                       {{ documents|length }} 
                    </h1>
                    <span>
                        Documents ajouté
                    </span>
                </div>
            </div>
            <div class="row no-gutters py-4 bg-white rounded shadow-sm">
                <div class="col-2 p-2 px-3">
                    <h6 class="color-pr mb-3 pb-3 font-weight-bold">Sous categories</h6>
                    {% for souscategorie in categorie.souscategories %}
                        <a class="font-14 d-block my-1 py-2 {{ active == souscategorie.nom ? 'link-active' : '' }}" href="{{ path_for('categorie' , { 'categorieNom' : generateURL(categorie.nom) , 'sousCategorieNom' : generateURL(souscategorie.nom) } ) }}">
                            {{ souscategorie.nom }}
                        </a>
                    {% endfor %}
                </div>
                <div class="col-10 p-2 px-3 border-left d-flex flex-column">
                    <div class="d-flex justify-content-between">
                        <h6 class="color-pr mb-3 pb-3 ">Resultat({{ total }})</h6>
                    </div>
                    {% if documents|length != 0 %}
                        <ul class="list-group list-group-flush">
                            {% for document in documents %}
                                <li class="list-group-item d-flex hover-scal">
                                    <div class="align-self-center">
                                        <img alt="" src="/public/img/doc-icon.png" width="50">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a class="font-weight-bold color-lead" href="{{ path_for('document' , {'id': document.id}) }}">
                                                {{ document.titre }}
                                            </a>
                                        </h5>
                                        <p class="card-text text-muted text-justify">
                                            de <i class="font-weight-bold"> {{ document.auteur }} </i>
                                        </p>
                                    </div>
                                    {% if document.evaluations.avg('nb') < 3 %}
                                        <h4 class="ml-auto align-self-center badge badge-danger font-18">
                                            {{ document.evaluations.avg('nb') ? document.evaluations.avg('nb') : 0  }}
                                        </h4>
                                    {% else %}
                                        <h4 class="ml-auto align-self-center badge badge-success font-18">
                                            {{ document.evaluations.avg('nb') ? document.evaluations.avg('nb') : 0  }}
                                        </h4>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        <nav aria-label="Page navigation" class="d-flex justify-content-between mt-auto">
                            <h6 class="font-weight-bold text-muted mt-4">Page
                                {{ pageCourante }}</h6>
                            {% if nombrePage != 1 %}
                                <ul class="pagination mt-4">
                                    {% for i in 1..nombrePage %}
                                        {% if pageCourante == i %}
                                            <li class="active mx-2">
                                                <span class="page-link rounded border-0">
                                                    {{ i }}
                                                </span>
                                            </li>
                                        {% else %}
                                            <li class="mx-2">
                                                <a class="page-link rounded border-0" href="?page={{ i }}">{{ i }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </nav>
                    {% else %}
                        <h2 class="color-lead p-4">Aucun document disponible</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
