{% extends 'layout.html.twig' %}
{% block titre %}
    {{ document.titre }}
{% endblock %}
{% block contenu %}
    <div class="jumbotron-fluid pr-5 pl-5 pb-5 mb-0 bg-img img-document">
        <div class="container">
            <nav aria-label="breadcrumb" class="">
                <ol class="breadcrumb bg-transparent text-white font-weight-normal px-0">
                    <li class="breadcrumb-item">
                        <a href="{{ path_for('home') }}" class="text-white">
                            <i data-feather="home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">Document</li>
                    <li class="breadcrumb-item">{{ document.titre }}</li>
                </ol>
            </nav>
            <h6 class="font-weight-bold text-white mt-4 mb-2 display-4">Voir un document</h6>
        </div>
    </div>
    <main class="bg-light">
        <div class="container pt-3 pb-4">
            <div class="mt-n5 mr-5 position-absolute" style="z-index: 2;">
                <a href="{{ path_for('download',{'url' : document.url }) }}" class="btn btn-primary hover-scal">
                    <span class="mr-2" data-feather="download"></span>
                    Télécharger
                </a>
            </div>
            {% if flash.getMessage('success') %}
                <div class="pt-4">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>
                            {{ flash.getMessage('success') | first }}
                        </strong>
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            {% endif %}
            <div class="border shadow-sm bg-white p-4 my-3">
                <div class="d-flex justify-content-between">
                    <h4 class="color-pr font-weight-bold">
                        {{ document.titre }}
                    </h4>
                    <div>
                        <div class="stars-outer">
                            <div class="stars-inner" style="width: {{ document.evaluationGenerale(document.id) }}%"></div>
                        </div>
                        <span class="text-muted">({{ evaluations | length  }})</span>
                    </div>
                </div>
                <div class="mt-3" id="pdfview" style="height:700px"></div>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a aria-controls="details" aria-selected="true" class="nav-link active font-weight-bold" data-toggle="tab" href="#details" id="details-tab" role="tab">
                        <i class="pr-2" data-feather="info"></i>
                        Details
                    </a>
                </li>
                <li class="nav-item">
                    <a aria-controls="résumé" aria-selected="false" class="nav-link font-weight-bold" data-toggle="tab" href="#resume" id="resume-tab" role="tab">
                        <i class="pr-2" data-feather="bookmark"></i>
                        Résumé
                    </a>
                </li>
                <li class="nav-item">
                    <a aria-controls="evaluation" aria-selected="false" class="nav-link font-weight-bold" data-toggle="tab" href="#evaluation" id="evaluation-tab" role="tab">
                        <i class="pr-2" data-feather="star"></i>
                        Evaluations
                    </a>
                </li>
            </ul>
            <div class="tab-content border border-top-0 rounded-bottom shadow-sm bg-white" id="myTabContent">
                <div aria-labelledby="details-tab" class="tab-pane fade show active color-lead" id="details" role="tabpanel">
                    <div class="row no-gutters px-3 pb-3 pt-4">
                        <div class="col-3">
                            <h6 class="font-weight-bold text-muted">Titre</h6>
                        </div>
                        <div class="col-9">
                            <p class="mb-2">
                                {{ document.titre }}
                            </p>
                        </div>
                    </div>
                    <div class="row no-gutters px-3 pb-3">
                        <div class="col-3">
                            <h6 class="font-weight-bold text-muted">Auteur(s)</h6>
                        </div>
                        <div class="col-9">
                            <p class="mb-2">
                                {{ document.auteur }}
                            </p>
                        </div>
                    </div>
                    <div class="row no-gutters px-3 pb-3">
                        <div class="col-3">
                            <h6 class="font-weight-bold text-muted">Type de document</h6>
                        </div>
                        <div class="col-9">
                            <span class="badge badge-pill badge-primary">
                                {% if document.type == 'l' %}
                                    Mémoire Licence
                                {% elseif document.type == 'm' %}
                                    Mémoire Master
                                {% elseif document.type == 'd' %}
                                    Thése doctorat
                                {% else %}
                                    Autre
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="row no-gutters px-3 pb-3">
                        <div class="col-3">
                            <h6 class="font-weight-bold text-muted">date de publication</h6>
                        </div>
                        <div class="col-9">
                            <p class="mb-2">
                                {{ document.date_publication }}
                            </p>
                        </div>
                    </div>
                    <div class="row no-gutters px-3 pb-1">
                        <div class="col-3">
                            <h6 class="font-weight-bold text-muted">Langue du document</h6>
                        </div>
                        <div class="col-9">
                            <p class="mb-0">
                                {% if document.langue == 'ar' %}
                                    Arabe
                                {% elseif document.langue == 'en' %}
                                    Anglais
                                {% elseif document.langue == 'fr' %}
                                    Français
                                {% else %}
                                    Autre
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row no-gutters px-3 pb-3">
                        <div class="col-3">
                            <h6 class="font-weight-bold text-muted">Université</h6>
                        </div>
                        <div class="col-9">
                            <p class="mb-2">
                                {{ document.universite | capitalize }}
                            </p>
                        </div>
                    </div>
                    <div class="row no-gutters px-3 pb-3">
                        <div class="col-3">
                            <h6 class="font-weight-bold text-muted">Facutlé</h6>
                        </div>
                        <div class="col-9">
                            <p class="mb-2">
                                {{ document.faculte | capitalize}}
                            </p>
                        </div>
                    </div>
                    <div class="row no-gutters px-3 pb-3">
                        <div class="col-3">
                            <h6 class="font-weight-bold text-muted">Spécialité</h6>
                        </div>
                        <div class="col-9">
                            <p class="mb-2">
                                {{ document.specialite | capitalize }}
                            </p>
                        </div>
                    </div>
                    <div class="row no-gutters px-3 pb-3">
                        <div class="col-3">
                            <h6 class="font-weight-bold text-muted">Catégories</h6>
                        </div>
                        <div class="col-9">
                            <p class="mb-2">
                                <span class="badge-primary rounded-pill py-1 px-2 mr-2">
                                    {{ document.categorie.nom }}
                                </span>
                                <span class="badge-primary rounded-pill py-1 px-2">
                                    {{ document.souscategorie.nom }}
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="row no-gutters px-3 pb-3">
                        <div class="col-3">
                            <h6 class="font-weight-bold text-muted align-self-center">Ajouter par</h6>
                        </div>
                        <div class="col-9">
                            <div class="mb-2 d-inline-flex badge badge-secondary rounded-pill">
                                {% if user == null %}
                                    {# ajouter par admin #}
                                    <div class="align-self-center">
                                        <h6 class="mb-0 mx-2">
                                            Admin
                                        </h6>
                                    </div>
                                {% else %}
                                    {# ajouter par user #}
                                    <img class="align-self-center rounded-pill shadow-sm" height="32" src="/public/img/profiles/{{ user.profile_img == null ? 'default.png' : user.profile_img }} " width="32">
                                    <div class="align-self-center p-2">
                                        <h6 class="mb-0 ml-2">
                                            {{ user.nom }}
                                            {{ user.prenom }}
                                        </h6>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {# Reusmé tab #}
                <div aria-labelledby="resume-tab" class="tab-pane fade p-3" id="resume" role="tabpanel">
                    {% if document.langue == 'fr' %}
                        <h4 class="font-weight-bold color-pr">Résume</h4>
                        <p class="text-justify text-muted py-2">
                            {{ document.resume }}
                        </p>
                    {% endif %}
                    {% if document.langue == 'ar' %}
                        <h4 class="font-weight-bold color-pr">ملخص</h4>
                        <p class="text-justify text-muted py-2">
                            {{ document.resume }}
                        </p>
                    {% endif %}
                    {% if document.langue == 'en' %}
                        <h4 class="font-weight-bold color-pr">Abstract</h4>
                        <p class="text-justify text-muted py-2">
                            {{ document.resume }}
                        </p>
                    {% endif %}
                </div>
                {# Evaluation tab #}
                <div aria-labelledby="evaluation-tab" class="tab-pane fade" id="evaluation" role="tabpanel">
                    <h4 class="font-weight-bold color-pr text-capitalize px-3 pt-4 mb-4">évaluation générale</h4>
                    <div class="row no-gutters">
                        <div class="col-sm-2 border-right p-4">
                            <h1>
                                {% if evaluationGenerale == 3  %}
                                    <span class="badge badge-warning text-white badge-pill">
                                        {{ evaluationGenerale }}
                                    </span>
                                {% elseif evaluationGenerale > 3 %}
                                    <span class="badge badge-success badge-pill">
                                        {{ evaluationGenerale }}
                                    </span>
                                {% else %}
                                    <span class="badge badge-danger badge-pill">
                                        {{ evaluationGenerale }}
                                    </span>
                                {% endif %}
                            </h1>
                            <h6 class="color-lead">basé sur
                                <span class="font-weight-bold">
                                    {{ evaluations | length  }}
                                </span>
                                avis
                            </h6>
                        </div>
                        <div class="col-sm-9 pl-4">
                            <table
                                class="table table-borderless">
                                {# 5 #}
                                <tr>
                                    <td class="px-0" width="22%">
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="d-inline pl-2 font-weight-bold text-muted float-right pr-2">Excellent ({{ evalParNb.5 ? evalParNb.5 : 0 }})</span>
                                    </td>
                                    <td class="px-0" width="70%">
                                        <div class="progress rounded-pill mb-2">
                                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar" role="progressbar" style="width: {{ evalParNb.5 ? (evalParNb.5  * 100)/ totatNb : 0 }}%; background-color:gold"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="px-0" width="22%">
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="d-inline pl-2 text-muted font-weight-bold float-right pr-2">Trés bien ({{ evalParNb.4 ? evalParNb.4 : 0 }})</span>
                                    </td>
                                    <td class="px-0" width="70%">
                                        <div class="progress rounded-pill mb-2">
                                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar" role="progressbar" style="width: {{ evalParNb.4 ? (evalParNb.4 * 100)/ totatNb : 0  }}%;background-color:gold;"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="px-0" width="22%">
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="d-inline pl-2 text-muted font-weight-bold float-right pr-2">Bien ({{ evalParNb.3 ? evalParNb.3 : 0 }})</span>
                                    </td>
                                    <td class="px-0" width="70%">
                                        <div class="progress rounded-pill mb-2">
                                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar" role="progressbar" style="width: {{ evalParNb.3 ? (evalParNb.3 * 100)/ totatNb : 0 }}%;background-color:gold;"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="px-0" width="22%">
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="d-inline pl-2 text-muted font-weight-bold float-right pr-2">Mauvais ({{ evalParNb.2 ? evalParNb.2 : 0 }})</span>
                                    </td>
                                    <td class="px-0" width="70%">
                                        <div class="progress rounded-pill mb-2">
                                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar" role="progressbar" style="width: {{ evalParNb.2 ? (evalParNb.2 * 100)/ totatNb : 0 }}%;background-color:gold;"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="px-0" width="22%">
                                        <span class="fas fa-star"></span>
                                        <span class="d-inline pl-2 text-muted font-weight-bold float-right pr-2">Trés Mauvais ({{ evalParNb.1 ? evalParNb.1 : 0 }})</span>
                                    </td>
                                    <td class="px-0" width="70%">
                                        <div class="progress rounded-pill mb-2">
                                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar" role="progressbar" style="width: {{ evalParNb.1 ? (evalParNb.1 * 100)/ totatNb : 0 }}%;background-color:gold;"></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            {# 4 #}
                        {# 3 #}
                            {# 2 #}
                            {# 1 #}
                        </div>
                    </div>
                    <hr>
                    <div class="m-4">
                        <ul class="list-unstyled">
                            {% if auth.connected %}
                                {# si l'utilisateur est connecter #}
                                <h3 class="font-weight-bold text-muted pt-3 mb-4">Ajouter votre avis
                                </h3>
                                <li class="bg-light py-4 rounded-lg">
                                    <form action=" {{ path_for('add-evaluation',{'docId': document.id }) }} " class="mx-3" method="POST">
                                        <label class="color-pr font-weight-bold font-18">
                                            Comment pensez-vous de ce document ?
                                        </label>
                                        <div class="evaluation d-flex mb-4">
                                            <div>
                                                <input id="ev1" name="eval" type="radio" value="1">
                                                <label class="e1" for="ev1">Trés Mauvais</label>
                                            </div>
                                            <div>
                                                <input id="ev2" name="eval" type="radio" value="2">
                                                <label class="e2" for="ev2">Mauvais</label>
                                            </div>
                                            <div>
                                                <input checked id="ev3" name="eval" type="radio" value="3">
                                                <label class="e3" for="ev3">Bon</label>
                                            </div>
                                            <div>
                                                <input id="ev4" name="eval" type="radio" value="4">
                                                <label class="e4" for="ev4">Trés Bon</label>
                                            </div>
                                            <div>
                                                <input id="ev5" name="eval" type="radio" value="5">
                                                <label class="e5" for="ev5">Excellent</label>
                                            </div>
                                        </div>
                                        <label class="color-pr font-weight-bold font-18 d-block">
                                            Pourquoi ?
                                        </label>
                                        <textarea class="form-control" name="eval-contenu" placeholder="Ecrivez spécifiquement les raisons pour lesquelles vous avez aimé ou pas ce document ..." required rows="6"></textarea>
                                        <input class="btn btn-sm btn-primary px-3 py-2 rounded-pill mt-3" type="submit" value="ajouter">
                                        <input class="btn btn-sm btn-inverted px-3 py-2 rounded-pill mt-3" type="reset" value="reset">
                                    </form>
                                </li>
                            {% else %}
                                {# si utilistaeur n'est pas connecter #}
                                <li class="my-4 py-4 text-center bg-light rounded-lg">
                                    <a class="font-weight-bold" href="{{ path_for('connection') }}">Connecter</a>
                                    ou
                                    <a class="font-weight-bold" href="{{ path_for('inscription') }}">Inscrire</a>
                                    pour ajouter une évaluation
                                </li>
                            {% endif %}
                            <h3 class="font-weight-bold text-muted pt-3 mb-4">Les avis({{ evaluations | length  }})</h3>
                            <ul class="pl-0 list-group list-group-flush">
                                {% for evaluation in evaluations %}
                                    <li class="media p-3 mb-4 rounded-lg">
                                        <img class="mr-3 rounded-circle img-thumbnail shadow-sm" height="55" src="/public/img/profiles/{{ evaluation.user.profile_img == null ? 'default.png' : evaluation.user.profile_img }}" width="55">
                                        <div class="media-body">
                                            <h6 class="mt-0 mb-0 font-weight-bold color-pr">
                                                {{ evaluation.user.nom }}
                                                {{ evaluation.user.prenom }}
                                                <span class="badge badge-primary ">
                                                    {{ evaluation.user.type }}
                                                </span>
                                            </h6>
                                            <div class="stars-outer">
                                                <div class="stars-inner" style="width: {{ evaluation.nb * 100 / 5 }}% "></div>
                                            </div>
                                            <p class="text-muted">
                                                {{ evaluation.contenu }}
                                            </p>
                                            <i class="text-muted">
                                                <i class="mr-2" data-feather="clock" style="width:16px;hieght:16px"></i>
                                                {{ evaluation.date | date("d M Y")  }}
                                            </i>
                                        </div>
                                    </li>
                                {% else %}
                                    <li class="media my-4 p-3 bg-light rounded-lg text-center">
                                        <span class="font-18 font-weight-bold text-muted">
                                            Aucune évluation est ajouter !
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>{% endblock %}{% block scriptBody %}
<script>
    PDFObject.embed("/uploads/{{ document.url }}", "#pdfview");
</script>{% endblock %}
