{% extends 'layout.html.twig' %}
{% block titre %}
    Page utilisateur
{% endblock %}
{% block contenu %}
    <header class="mt-5">
        <div class="jumbotron jumbotron-fluid bg-grd2 text-center mb-0">
            <h1 class="text-white">
                <i class="fas fa-user"></i>
            </h1>
            <h4 class="display-4 font-weight-bold text-white">
                Page de profil
            </h4>
            <p class="lead text-white">
                Bienvenu -
                {{ auth.user.nom }}
            </p>
        </div>
    </header>
    <main class="py-5 bg-light">
        <div class="container">
            <div
                class="row no-gutters">
                {# user info #}
                <div class="col-sm-4 mb-3">
                    <div class="card border-0 shadow-sm mr-lg-3">
                        <div class="card-body text-center">
                            <img alt="profil image" class="rounded-lg img-thumbnail shadow-sm" height="150" src="/public/img/profiles/{{ auth.user.profile_img == null ? 'default.png' : auth.user.profile_img }}" width="150">
                            <h3 class="font-weight-bold card-title mt-4 mb-0 color-pr">
                                {{ auth.user.nom | capitalize }}
                                {{ auth.user.prenom | capitalize  }}
                            </h3>
                            <h5 class="text-center card-text color-secondary">
                                {{ auth.user.email }}
                            </h5>
                            <p>
                                <h3>
                                    <span class="badge bg-primary text-white badge-pill">
                                        {{ auth.user.type.nom }}
                                    </span>
                                </h3>
                            </p>
                        </div>
                        <hr>
                        <ul class="nav flex-column nav-pills mb-3 mx-2" id="pills-tab" role="tablist">
                            <li class="nav-item active">
                                <a aria-controls="pills-home" aria-selected="true" class="nav-link active font-18" data-toggle="pill" href="#pills-pfe" id="pills-pfe-tab" role="tab">
                                    <i class="mr-2" data-feather="file-text"></i>
                                    Mes Documents
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a aria-controls="pills-addpfe" aria-selected="false" class="nav-link font-18" data-toggle="pill" href="#pills-addpfe" id="pills-addpfe-tab" role="tab">
                                    <i class="mr-2" data-feather="upload"></i>
                                    Ajouter un pfe
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a aria-controls="pills-options" aria-selected="false" class="nav-link font-18" data-toggle="pill" href="#pills-options" id="pills-options-tab" role="tab">
                                    <i class="mr-2" data-feather="settings"></i>
                                    Options
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                {# user menu #}
                <div
                    class="col">
                    <!--  Erreur message ici -->
                    {% if flash.getMessage('errors') %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <li class="no-list-style">
                                {{ flash.getMessage('errors') | first }}
                            </li>
                            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    {% if flash.getMessage('success') %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <li class="no-list-style">
                                {{ flash.getMessage('success') | first }}
                            </li>
                            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    <div class="card border-0 card-body shadow-sm">
                        <div
                            class="tab-content" id="pills-tabContent">
                            {# tableaux de mon pfe #}
                            <div aria-labelledby="pills-pfe-tab" class="tab-pane fade show active" id="pills-pfe" role="tabpanel">
                                <div>
                                    <h5 class="mb-3 color-secondary font-weight-bold">
                                        Vos documents (mémoires/PFE's)
                                    </h5>
                                    <table class="table bg-white table-bordered">
                                        <thead class="bg-primary">
                                            <tr class="text-white">
                                                <th scope="col">Titre</th>
                                                <th scope="col">date d'ajoute</th>
                                                <th scope="col">Lien</th>
                                                <th scope="col">Etat</th>
                                            </tr>
                                        </thead>
                                        <tbody class="color-lead">
                                            {% for pfe in pfes %}
                                                <tr>
                                                    <td>
                                                        {{ pfe.titre }}
                                                    </td>
                                                    <td>
                                                        {{ pfe.date_publication }}
                                                    </td>
                                                    <td>
                                                        {% if pfe.valid %}
                                                            <a class="btn btn-primary px-2 py-0" href="{{ pfe.valid ? path_for('document',{'id':pfe.id}) : " " }}" disabled>
                                                                <i data-feather="link-2" style="width: 16px;"></i>
                                                            </a>
                                                        {% else %}
                                                            <a class="btn btn-primary px-2 py-0 disabled" href="{{ pfe.valid ? path_for('document',{'id':pfe.id}) : " " }}" disabled>
                                                                <i data-feather="link-2" style="width: 16px;"></i>
                                                            </a>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if pfe.valid %}
                                                            <span class="badge badge-success py-2 px-2">
                                                                Valid
                                                            </span>
                                                        {% else %}
                                                            <span class="badge badge-warning py-2 px-2">
                                                                Pas encore validé
                                                            </span>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr class="text-center">
                                                    <td class="font-weight-bold" colspan="4">
                                                        Aucun document est ajouté
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div
                                aria-labelledby="pills-addpfe-tab" class="tab-pane fade" id="pills-addpfe" role="tabpanel">
                                {# formulaire d'ajoute #}
                                <h5 class="color-secondary font-weight-bold mb-4">Publier un mémoire / projet de fin d'étude</h5>
                                <p class="font-16 color-lead">
                                    Ce site a pour but de publier un maximum de mémoires d'étudiants en accès gratuit sur internet. Pour déposer votre mémoire, 
                                    il suffit d'ajoutez votre mémoire dans formulaire ci-contre et de cliquer sur le bouton "Ajouter". Votre mémoire est mis en ligne peu de temps après.
                                </p>
                                <form class="color-pr" action="{{ path_for('add-pfe') }}" method="post" enctype="multipart/form-data">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label float-right" for="titre">Titre</label>
                                        <div class="col-sm">
                                            <input class="form-control" id="titre" name="titre" placeholder="le titre" required type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label float-right" for="titre">Auteur(s)</label>
                                        <div class="col-sm">
                                            <input class="form-control" id="auteur" name="auteur" placeholder="Auteur(s)" required type="text">
                                            <small class="text-muted">Si il y a plusieurs auteurs , séparer les par des vergule ","
                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label float-right" for="resume">Résume</label>
                                        <div class="col-sm">
                                            <textarea class="form-control" id="resume" name="resume" placeholder="votre résume" required rows="4"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label float-right" for="type">Type</label>
                                        <div class="col-sm">
                                            <select class="form-control" id="type" name="type" required>
                                                <option selected value=""></option>
                                                {% for doc_type in doc_types %}
                                                    <option value="{{ doc_type.id }}">{{doc_type.doc_type}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label" for="langue">langue</label>
                                        <div class="col-sm">
                                            <select class="form-control" id="langue" name="langue" required>
                                                <option selected value=""></option>
                                                <option value="ar">Arabe</option>
                                                <option value="en">Anglais</option>
                                                <option value="fr">Français</option>
                                                <option value="autre">Autre</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label float-right" for="domaine">Département</label>
                                        <div class="col-sm">
                                            <select class="form-control" id="domaine" name="domaine" required>
                                                <option selected value=""></option>
                                                {% for categorie in cat %}
                                                    <optgroup label="{{ categorie.nom }}">
                                                        {% for domain in categorie.souscategories %}
                                                            <option value="{{ domain.id }}">
                                                                {{ domain.nom }}
                                                            </option>
                                                        {% endfor %}
                                                    </optgroup>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label float-right">Université</label>
                                        <div class="col-sm">
                                            <input class="form-control" name="univ" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label float-right">Spécialité</label>
                                        <div class="col-sm">
                                            <input class="form-control" name="spes" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            Fichier(.pdf)
                                            <span class="text-muted font-12">
                                                max 20 méga
                                            </span>
                                        </div>
                                        <div class="col-sm-8">
                                            <input name="doc" required type="file">
                                        </div>
                                    </div>
                                    <div class="form-group row pt-3">
                                        <div class="col-sm-12">
                                            <button class="btn btn-success hover-scal" type="submit">
                                                <i class="mr-2" data-feather="plus"></i>
                                                Ajoutez
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div
                                aria-labelledby="pills-options-tab" class="tab-pane fade" id="pills-options" role="tabpanel">
                                {# mod image profil #}
                                <div class="">
                                    <div class="text-muted mb-3">
                                        <h4 class="color-secondary">
                                            Changer votre photo de profil
                                        </h4>
                                    </div>
                                    <div class="">
                                        <form action=" {{ path_for('user-profil-img') }} " enctype="multipart/form-data" method="post">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label color-lead">Choisir une photo :</label>
                                                <div class="col-sm-8">
                                                    <input name="profImg" required type="file">
                                                </div>
                                            </div>
                                            <br>
                                            <button class="btn btn-success mb-4 hover-scal" type="submit">
                                                <i class="mr-2" data-feather="repeat"></i>
                                                Changer
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <hr>
                                <div class="mt-3">
                                    <div class="mb-3">
                                        <h4 class="color-secondary">
                                            Modifier votre mot de pass
                                        </h4>
                                    </div>
                                    <div
                                        class="">
                                        {# mod password #}
                                        <form action=" {{ path_for('user-password') }} " class="mb-4" method="post">
                                            <div class="from-group row">
                                                <label class="col-sm-3 col-form-label color-lead">
                                                    Ancien mot de passe
                                                </label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" name="org_pass" required type="password">
                                                </div>
                                            </div>
                                            <div class="from-group row mt-3">
                                                <label class="col-sm-3 col-form-label color-lead">
                                                    Nouveau mot de pass
                                                </label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" id="passwordId" name="nv_pass" required type="password">
                                                    <span class="text-muted fola" id="err-pass">6 caractère min</span>
                                                </div>
                                            </div>
                                            <div class="from-group row mt-3">
                                                <label class="col-sm-3 col-form-label color-lead">
                                                    Confirmation
                                                </label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" id="passwordConfId" name="nv_pass_conf" required type="password">
                                                    <span class="text-muted" id="err-pass-c">6 caractère min</span>
                                                </div>
                                            </div>
                                            <div class="form-group row mt-5">
                                                <div class="col-sm-12">
                                                    <button class="btn btn-success mr-2 hover-scal" type="submit">
                                                        <i class="mr-2" data-feather="repeat"></i>
                                                        Modifier
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block scriptBody %}{% endblock %}
