{% extends '/admin/template.view.twig' %}
{% block navigation %}
    {% include '/admin/navigation.view.twig' with { 'active' : 3 } %}
{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-sm-12 my-3">
            <div class="card shadow-sm">
                <div class="card-header text-muted">
                    <i data-feather="folder" style="width:24px;hieght:24px"></i>
                    <span class="font-weight-bold">Gestion des documents</span>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h4 class="font-weight-bold color-pr align-self-center">
                            Documents
                        </h4>
                        <a href="{{ path_for('admin-add-document') }}" class="btn btn-success hover-scal">
                            <i data-feather="upload-cloud" style="width:24px;height:24px"></i>
                            uploader document
                        </a>
                    </div>
                    <div>
                        <div class="custom-control custom-switch mb-3">
                            <input class="custom-control-input" id="table_vue_checkbox" type="checkbox">
                            <label class="custom-control-label" for="table_vue_checkbox">Table vue</label>
                        </div>
                    </div>
                    <div class="row no-gutters mt-3 doc_vue">
                        {% for doc in docs %}
                            <div class="col-sm-3">
                                <div class="card hover-scal m-1" style="height:250px">
                                    <div class="card-body p-4 d-flex flex-column">
                                        <a class="font-weight-bold d-block" href="{{ path_for('admin-view-document' , {'id': doc.id}) }}">
                                            <i class="fas fa-file-pdf mr-2"></i>
                                            {{ doc.titre }}
                                        </a>
                                        <p class="card-text text-muted font-weight-bold mt-3">
                                            {{ doc.taille }} 
                                        </p>
                                        <div class="d-flex mt-auto">
                                            <a class="btn btn-success btn-sm m-1" href=" {{ path_for('download',{'url' : doc.url }) }} ">
                                                <i data-feather="download-cloud"></i>
                                                Télecharger
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-12 text-center p-4 bg-light">
                                <h5 class="text-muted">
                                    Aucun document trouvé
                                </h5>
                            </div>
                        {% endfor %}
                    </div>
                    {# tabele vue #}
                    <div class="d-none table_vue">
                        <table class="table table-striped" id="user_table">
                            <thead>
                                <tr>
                                    <th scope="col">Réf</th>
                                    <th scope="col">Titre</th>
                                    <th scope="col">Langue</th>
                                    <th scope="col">date de publication</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="text-muted">
                                {% for doc in docs %}
                                    <tr>
                                        <td>
                                            {{ doc.ref }}
                                        </td>
                                        <td>
                                            {{ doc.titre }}
                                        </td>
                                        <td>
                                            {{ doc.langue }}
                                        </td>
                                        <td>
                                            {{ doc.date_publication }}
                                        </td>
                                        <td>
                                            <a class="btn btn-info btn-sm m-1" href=" {{ path_for('admin-view-document',{ 'id' : doc.id }) }} ">
                                                <i data-feather="info"></i>
                                            </a>
                                            <a class="btn btn-success btn-sm m-1" href=" {{ path_for('download',{'url' : doc.url }) }} ">
                                                <i data-feather="download-cloud"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
