{% extends '/admin/template.view.twig' %}
{% block navigation %}
    {% include '/admin/navigation.view.twig' with { 'active' : 1 } %}
{% endblock %}
{% block main %}
    <h4 class="color-secondary font-weight-bold mt-3 pl-2">Tableau de bord</h4>
    <h6 class="text-muted pl-2">Bienvenu <strong>{{ auth.admin.nom }}</strong></h6>
    <div class="row mt-3 no-gutters">
        <div class="col-sm">
            <div class="card m-2 shadow-sm hover-scal">
                <div class="card-header text-muted">
                    <span class="font-weight-bold">Le nombre d'utilisateur total</span>
                </div>
                <div class="d-flex card-body justify-content-between">
                    <i class="fas fa-users color-secondary" style="font-size : 64px"></i>
                    <div class="text-muted font-weight-bold ">
                        <h1 class="color-secondary font-weight-bold text-right">{{ nbUsers }}</h1>
                        <span class="text-right text-muted">Utilisateur(s)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card m-2 shadow-sm hover-scal">
                <div class="card-header text-muted">
                    <span class="font-weight-bold">Le nombre des document total</span>
                </div>
                <div class="d-flex card-body justify-content-between">
                    <i class="fas fa-folder color-secondary" style="font-size : 64px"></i>
                    <div class="text-muted font-weight-bold">
                        <h1 class="color-secondary font-weight-bold text-right">{{ nbPfes }}</h1>
                        <span class="text-right">doucment(s)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card m-2 shadow-sm hover-scal">
                <div class="card-header text-muted">
                    <span class="font-weight-bold">Le nombre des évaluations total</span>
                </div>
                <div class="d-flex card-body justify-content-between">
                    <i class="fas fa-star color-secondary" style="font-size : 64px"></i>
                    <div class="text-muted font-weight-bold">
                        <h1 class="color-secondary font-weight-bold text-right">{{ nbEvaluations }}</h1>
                        <span class="text-right">evaluation(s)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3 mb-2">
        <div class="row no-gutters">
            <div class="col-sm">
                <div class="card m-1 shadow-sm mb-4">
                    <div class="card-header text-muted d-flex">
                        <i class="mr-2" data-feather="clock" style="width:24px;height:24px"></i>
                        <div>
                            <span class="font-weight-bold">Les dernier demende d'incription</span>
                            <p class="mb-0">
                                Vous pouvez voire tout les dernier demende d'incription
                            </p>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush" style="height:280px;overflow: auto;">
                        {% for user in lastusers %}
                            <li class="list-group-item d-flex">
                                <img alt="profil img" class="rounded-circle shadow" height="32" src="/public/img/profiles/{{ user.profile_img == null ? 'default.png' : user.profile_img }} " width="32">
                                <div class="align-self-center ml-3">
                                    <span class="text-muted font-weight-bold">
                                        {{ user.email }}
                                    </span>
                                </div>
                                <div class="ml-auto align-self-center">
                                    <input class="btn btn-info btn-sm view_data" id=" {{ user.id }} " name="view" type="button" value="info"/>
                                    <a class="btn btn-success btn-sm" href=" {{ path_for('admin-accept-user',{ 'user_id' : user.id }) }} " title="accepter">
                                        <i data-feather="check"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="{{ path_for('admin-refuse-user',{'user_id' : user.id}) }}" title="réfuser">
                                        <i data-feather="x"></i>
                                    </a>
                                </div>
                            </li>
                        {% else %}
                            <li class="text-center text-muted font-weight-bold list-group-item">
                                <i data-feather="x"></i>
                                <span>Aucune demande trouvée</span>
                            </li>
                        {% endfor %}
                    </ul>
                    {# model info user #}
                    <div class="modal fade" id="dataModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title color-pr font-weight-bold">Demmende inscription - detail</h5>
                                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="user_detail"></div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-dismiss="modal" type="button">férmer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card m-1 shadow-sm">
                    <div class="card-header text-muted d-flex">
                        <i class="mr-2" data-feather="upload-cloud" style="width:24px;height:24px"></i>
                        <div>
                            <span class="font-weight-bold">Les dernier documents ajouter
                            </span>
                            <p class="mb-0">
                                Vous pouvez voire tout les dernier documents ajouter
                            </p>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush" style="height:280px;overflow: auto;">
                        {% for pfe in lastdocuments %}
                            <li class="list-group-item d-flex justify-content-between">
                                <span class="align-self-center text-muted font-weight-bold">
                                    {{ pfe.titre }}
                                </span>
                                <a class="btn btn-primary hover-scal" href=" {{ path_for('admin-view-document',{ 'id' : pfe.id }) }} " title="détail">
                                    <i data-feather="eye"></i>
                                </a>
                            </li>
                        {% else %}
                            <li class="text-center text-muted font-weight-bold list-group-item">
                                aucun document n'est trouvé
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
