{% extends '/admin/template.view.twig' %}
{% block navigation %}
    {% include '/admin/navigation.view.twig' with { 'active' : 2 }  %}
{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-sm-12 my-3">
            <div class="card shadow-sm">
                <div class="card-header text-muted">
                    <i data-feather="users" style="width:24px;hieght:24px"></i>
                    <span class="font-weight-bold">Gestion d'utilisateurs</span>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h6 class="text-muted align-self-center">La liste des utilisateurs</h6>
                        {# btn add-user #}
                        <button class="btn btn-sm btn-success font-14 hover-scal mb-3" data-target="#ModalAddUser" data-toggle="modal" type="button">
                            <i class="mr-2" data-feather="user-plus"></i>
                            nouveaux utilisateur
                        </button>
                        {# model add-user #}
                        <div aria-hidden="true" aria-labelledby="ModalLabel" class="modal fade" id="ModalAddUser" role="dialog" tabindex="-1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-muted" id="ModalLabel">Ajouter un utilisateur</h5>
                                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                            <span aria-hidden="true" class="text-muted">&times;</span>
                                        </button>
                                    </div>
                                    <div
                                        class="modal-body">
                                        {# form add-user #}
                                        <form action="{{ path_for('admin-user-add') }}" method="POST">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label font-weight-bold text-muted">Nom</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" name="nom" required type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label font-weight-bold text-muted">Prénom</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" name="prenom" required type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label font-weight-bold text-muted">Email</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" name="email" placeholder="exemple@exemple.com" required type="email">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label font-weight-bold text-muted">mot de pass</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" name="pass" required type="password">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label font-weight-bold text-muted">Type</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="type" required>
                                                        <option selected value=""></option>
                                                        <option selected value="2">Etudiant</option>
                                                        <option value="3">Enseigniant</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-inverted hover-scal" data-dismiss="modal" type="button">férmer</button>
                                            <button class="btn btn-primary hover-scal" type="submit">ajouter</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table" id="user_table">
                        <thead>
                            <tr class="color-pr">
                                {#  scope="col" #}
                                <th>Utilisateur</th>
                                <th>Email</th>
                                <th>Type</th>
                                <th>Etat</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="color-lead">
                            {% for user in users %}
                                <tr>
                                    <td class="d-flex">
                                        <div>
                                            <img class="mr-2 rounded" height="32" src="/public/img/profiles/{{ user.profile_img == null ? 'default.png' : user.profile_img }}" width="32">
                                        </div>
                                        <div>
                                            {{ user.nom }}
                                            {{ user.prenom }}
                                        </div>
                                    </td>
                                    <td>
                                        {{ user.email }}
                                    </td>
                                    <td>
                                        <span class="badge badge-info">{{ user.type.nom }}</span>
                                    </td>
                                    <td>
                                        {% if user.etat == 1 %}
                                            <div class="bg-success rounded-pill" style="width:15px; height:15px"></div>   
                                        {% elseif user.etat == 0 %}
                                            <div class="bg-warning rounded-pill" style="width:15px; height:15px"></div>
                                        {% else %}
                                            <div class="bg-danger rounded-pill" style="width:15px; height:15px"></div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <input class="btn btn-info btn-sm view_data" id=" {{ user.id }} " name="view" type="button" value="details"/>
                                        <input class="btn btn-warning btn-sm edit_user" id=" {{ user.id }} " name="edit" type="button" value="modifier"/>
                                        <a class="btn btn-danger btn-sm" href=" {{ path_for('delete-user',{'user_id': user.id }) }} ">
                                            <i data-feather="trash-2"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {# modale user info #}
                    <div class="modal fade" id="dataModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title color-pr font-weight-bold">Utilisateur - detail</h5>
                                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="user_detail"></div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-dismiss="modal" type="button">férmer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# modale user edit #}
                    <div class="modal fade" id="editModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title color-pr font-weight-bold">Utilisateur - Modification</h5>
                                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="user_edit_form"></div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-dismiss="modal" type="button">férmer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
