<nav class="col-md-2 d-none d-md-block bg-light sidebar pt-5">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link  {{ active == 1 ? 'active' : '' }} " href="{{ path_for('dashboard') }}">
                    <i data-feather="home"></i>
                    Accuille
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ active == 2 ? 'active' : '' }} " href="{{ path_for('admin-user-page') }}">
                    <span data-feather="users"></span>
                    Utilisateurs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ active == 3 ? 'active' : '' }} " href="{{ path_for('admin-archive-page') }}">
                    <span data-feather="folder"></span>
                    documents
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ active == 4 ? 'active' : '' }} " href=" {{ path_for('admin-compte-page') }} ">
                    <span data-feather="settings"></span>
                    Paramétre
                </a>
            </li>
        </ul>
    </div>
</nav>
