{% extends "layout.html.twig" %}
{% block titre %} Connection - UTMB {% endblock %}

{% block contenu %}
<section class="bg-light">
    <div class="container px-5 pt-5">
        <div class="px-md-5 py-5">
            <div class="card mb-4 w-75 shadow-sm mx-auto">
                <div class="card-img bg-img img-singin h-25 text-center py-5">
                    <h1 class="text-white">Connection</h1>
                    <p class="lead text-white-50 font-weight-bold">
                        vous pouver connecter ici
                    </p>
                </div>
                <div class="card-body p-5">
                    {% if flash.getMessage('global') %}
                        <div class="alert alert-info alert-dismissible fade show"
                             role="alert">
                            {{ flash.getMessage('global') | first }}
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    {% if flash.getMessage('error') %}
                        <div class="alert alert-danger alert-dismissible fade show"
                             role="alert">
                            {{ flash.getMessage('error') | first }}
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    <form action="{{ path_for('connection') }}" method="POST">
                        <div class="form-group my-4">
                            <lable class="mb-4">Votre Email</lable>
                            <input type="email" name="email" id="emailId"
                                   class="form-control" placeholder="exemple@exemple.com" required>
                            <small id="err-email"></small>
                        </div>
                        <div class="form-group my-4">
                            <lable class="mb-4">Votre mote de pass</lable>
                            <input type="password" name="password"
                                   id="passwordId" class="form-control" required>
                            <small id="err-pass"></small>
                        </div>
                        <div class="from-group my-4">
                            <div class="d-flex flex-column flex-md-row
                            justify-content-between">
                                <input type="submit" value="Connecter"
                                       class="btn btn-primary py-2 rounded-pill">
                                <a class="mt-3" href="{{ path_for('reinitialiser') }}">mot de pass oblier ?</a>
                            </div>
                        </div>
                    </form>
                    <div class="divider text-center mt-5 mb-4 color-pr">
                        <strong>Pas encore inscrit ?</strong>
                    </div>
                    <a class="btn btn-block btn-outline-primary rounded-pill" href="{{ path_for('inscription') }}"
                       role="button">Incrire
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}