{% extends "layout.html.twig" %}
{% block titre %}
    Inscription - UTMB
{% endblock %}

{% block contenu %}
    <section class="bg-light">
        <div class="container mt-5">
            <div class="px-md-5 py-5">
                <div class="shadow-sm mx-auto">
                    <div class="card-body bg-white px-4 py-4">
                        <h1 class="color-pr">Forumulaire d'inscription</h1>
                        <p class="color-lead lead font-weight-bold">
                            vous pouver créer votre compt ici
                        </p>
                        {% if flash.getMessage('global') %}
                            <div class="alert alert-success" role="alert">
                                {{ flash.getMessage('global') | first }}
                                <a href="{{ path_for('connection') }}" class="alert-link">ici</a>
                            </div>
                        {% endif %}
                        {% if flash.getMessage('error') %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ flash.getMessage('error') | first }}
                                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% elseif flash.getMessage('errors') %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {% if flash.getMessage('errors') %}
                                    <li class="no-list-style">
                                        {{ flash.getMessage('errors') | first }}
                                    </li>
                                {% endif %}
                                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        <form action="{{ path_for('inscription') }}" method="POST">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nomId">
                                        Votre Nom
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input class="form-control" id="nomId" name="nom" required type="text">
                                    <small class="form-text text-muted" id="err-nom"></small>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="prenomId">
                                        Votre Prenom
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input class="form-control" id="prenomId" name="prenom" required type="text">
                                    <small class="form-text text-muted" id="err-prenom"></small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="emailId">
                                    Votre Email
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" id="emailId" name="email" required type="email">
                                <small class="form-text text-muted" id="err-email"></small>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="passwordId">
                                        Mot de pass
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input class="form-control" id="passwordId" name="password" required type="password">
                                    <small class="form-text text-muted" id="err-pass">
                                        mote de pass doit avoir ou moins 6 caréctaire
                                    </small>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="passwordConfId">
                                        Mot de pass(Confirmation)
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input class="form-control" id="passwordConfId" name="passwordConf" required type="password">
                                    <small class="form-text text-muted" id="err-pass-c"></small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="type">Vous éte un ?
                                    <span class="text-danger">*</span>
                                </label>
                                <select class="form-control" id="type" name="type" required>
                                    <option selected value=""></option>
                                    <option value="2">Etudiant</option>
                                    <option value="3">Enseigniant</option>
                                </select>
                            </div>
                            <div class="form-group float-right">
                                <span class="color-lead font-12">
                                    (<span class="text-danger">*</span>) Champ obligatoir
                                </span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary py-2 px-4 rounded-pill" id="btnId" type="submit">
                                    Inscrire
                                </button>
                            </div>
                        </form>
                        <div class="divider text-center mt-5 mb-4 color-pr">
                            <strong>vous êtes déjà inscrit ?</strong>
                        </div>
                        <a class="btn btn-block btn-outline-primary rounded-pill" href="{{ path_for('connection') }}" role="button">
                            Connecter
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
