{% extends 'layout.html.twig' %}
{% block titre %}
    Recherche
{% endblock %}
{% block contenu %}
    <header>
        <div class="jumbotron jumbotron-fluid bg-grd mb-0">
            <div class="container text-center">
                <h1 class="text-white mb-0">
                    <i class="fas fa-search"></i>
                </h1>
                <h1 class="display-3 text-white font-weight-bold pt-4">Page de Recherche</h1>
                <p class="lead text-white">Vous pouvez rechercher des pfe's ici</p>
            </div>
        </div>
    </header>
    <main class="bg-light">
        <div class="container">
            <div class="py-5 row no-gutters">
                <div class="col-sm-12">
                    <div class="mx-4">
                        <div class="p-3  card card-body rounded-0 shadow-sm ">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Recherche simple
                                    </span>
                                </div>
                                <input autocomplete="off" class="form-control" id="input_search" placeholder="Titre , mot clé , etc" type="text">
                            </div>
                            <div class="mt-2 clear-fix">
                                <span class="text-danger float-left" id="search_er"></span>
                                <a aria-expanded="false" class="float-right" data-toggle="collapse" href="#search_avanc" role="button">
                                    Recherche avancée
                                </a>
                            </div>
                            <div class="mt-2 p-3 bg-light rounded-lg collapse" id="search_avanc">
                                <h2 class="color-pr">Recherche Avancée</h2>
                                <form id="search_av">
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            <label class="color-lead" for="">Titre</label>
                                            <input class="form-control" id="input_search_av_titre" type="text">
                                        </div>
                                        <div class="form-group col-3 mt-3">
                                            <label class="color-lead" for="">
                                                Type de document
                                            </label>
                                            <select class="custom-select" id="input_search_av_type">
                                                <option value=""></option>
                                                {% for type in doc_types %}
                                                    <option value="{{type.id}}">{{type.doc_type}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group col-3 mt-3">
                                            <label class="color-lead" for="">
                                                La langue
                                            </label>
                                            <select class="custom-select" id="input_search_av_lang">
                                                <option value=""></option>
                                                <option value="ar">Arabe</option>
                                                <option value="en">Anglais</option>
                                                <option value="fr">Français</option>
                                                <option value="autre">Autre</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-6 mt-3">
                                            <label class="color-lead" for="">
                                                Département
                                            </label>
                                            <select class="custom-select" id="input_search_av_domain">
                                                <option value=""></option>
                                                {% for categorie in categories %}
                                                    <optgroup label="{{ categorie.nom }}">
                                                        {% for souscategorie in categorie.souscategories %}
                                                            <option value="{{ souscategorie.id }}">
                                                                {{ souscategorie.nom }}
                                                            </option>
                                                        {% endfor %}
                                                    </optgroup>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group col-2 mt-3">
                                            <label class="color-lead" for="">
                                                Année
                                            </label>
                                            <input class="form-control" id="input_search_av_annee" maxlength="4" type="number" value="2019"/>
                                        </div>
                                        <div class="form-group col-12 mt-3">
                                            <button class="btn btn-primary" type="submit">
                                                <i class="mr-2" data-feather="search"></i>
                                                Recherche
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- search result div -->
                <div class="col-sm-12 mt-4">
                    <div class="mx-4">
                        <div class="py-5 card card-body rounded-0 shadow-sm d-none" id="search_result"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
