<nav
    class="navbar navbar-light navbar-expand-lg fixed-top bg-white shadow border-buttom">
    {# style="background-color:#4099de" #}
    <div class="container">
        <a class="navbar-brand mb-0" href="{{ path_for('home') }}" title="Accuil">
            <img alt="logo" class="mr-4" src="/public/img/logo.svg" width="42px">
        </a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="mr-auto navbar-nav d-flex flex-column flex-md-row">
                <div class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdownMenuCategorie" role="button">
                        Facutlé
                    </a>
                    <div aria-labelledby="dropdownMenuCategorie" class="dropdown-menu shadow-sm">
                        <h6 class="dropdown-header">Les Faculté</h6>
                        {% for categorie in cat %}
                            <a href="{{ path_for('categorie' , {'categorieNom' : generateURL(categorie.nom) }) }}" class="dropdown-item">
                                {{ categorie.nom | capitalize }}
                            </a>
                        {% endfor %}
                        <a href="{{ path_for('categorie') }}" class="dropdown-item font-weight-bold color-secondary">
                            <i data-feather="plus"></i>
                            Voir Tout
                        </a>
                    </div>
                </div>
                <a href="{{ path_for('search') }}" class="nav-item nav-link ml-md-3">
                    Recherche
                </a>
                <a href="{{ path_for('a-propos') }}" class="nav-item nav-link ml-md-3">
                    A propos de nous
                </a>
            </div>
            <div class="navbar-nav ml-auto">
                {% if auth.connected %}
                    <div class="dropdown">
                        <img class="mr-1 rounded-circle shadow-sm" height="32" src="/public/img/profiles/{{ auth.user.profile_img == null ? 'default.png' : auth.user.profile_img }}" width="32">
                        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle nav-item nav-link font-weight-bold d-inline" data-toggle="dropdown" href="#" id="dropdownMenuLink" role="button">
                            {{ auth.user.email }}
                        </a>
                        <div aria-labelledby="dropdownMenuLink" class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{{ path_for('user') }}">
                                <i class="mr-2" data-feather="user"></i>
                                Mon profil
                            </a>
                            <a class="dropdown-item" href="{{ path_for('deconnecter') }}">
                                <i class="mr-2" data-feather="log-out"></i>
                                Déconnecter
                            </a>
                        </div>
                    </div>
                {% else %}
                    <a class="nav-item btn btn-outline-primary py-1 mr-lg-4 my-md-0 my-2" href="{{ path_for('connection') }}">
                        Connexion
                    </a>
                    <a class="nav-item btn btn-primary py-1 my-lg-0 my-2" href="{{ path_for('inscription') }}">
                        Inscrciption
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
