<nav class="navbar  navbar-expand-lg bg-white shadow-sm border-bottom">
    <div class="container-fluid px-4">
        <a class="navbar-brand mb-0" href="{{ "/"~ lang ~ path_for('home') }}" title="Accuil">
            <img class="mr-4" src="/public/img/logo.svg" alt="logo" width="42px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class=""><img src="/public/img/menu-icon.svg" alt="" width="18px"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="mr-auto d-flex flex-column flex-md-row">
                <form action="{{ path_for('search') }}" class="ml-md-3" autocomplete="off">
                    <input class="form-control mr-sm-2 search rounded-pill" name="q" type="text"
                           placeholder="Recherche">
                </form>
            </div>
            <div class="navbar-nav ml-auto">
                {% if auth.connected %}
                    <div class="dropdown">
                        <a class="dropdown-toggle font-weight-bold"
                           href="#"
                           role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            {{ auth.user.email }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{{ path_for('user') }}">
                                <i class="mr-2"
                                   data-feather="user">
                                </i>
                                Mon profil
                            </a>
                            <a class="dropdown-item" href="{{ path_for('deconnecter') }}">
                                <i class="mr-2"
                                   data-feather="log-out">
                                </i>
                                Déconnecter
                            </a>
                        </div>
                    </div>
                {% else %}
                    <a class="nav-item nav-link py-1 ml-40 my-md-0 my-2" href="{{ "/"~ lang ~ path_for('a-propos') }}">
                        A propos
                    </a>
                    <a class="nav-item nav-link py-1 ml-40 my-md-0 my-2"
                       href="{{ "/"~ lang ~ path_for('connection') }}">
                        Connection
                    </a>
                    <a class="nav-item nav-link px-3 py-1 my-md-0 my-2 btn btn-sm btn-outline-primary shadow rounded-pill"
                       href="{{ "/"~ lang ~ path_for('inscription') }}">
                        INSCRIPTION
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<nav class="nav justify-content-center" style="background-color: #4099de !important;">
    {% for categorie in cat %}
        <a href="{{ "/"~ lang ~ path_for('categorie' , { 'categorieNom' : generateURL(categorie.nom) }) }}"
           class="nav-link text-white d-inline-block px-4 mx-1 cat-link">
            {{ categorie.nom }}
        </a>
    {% endfor %}
    <a href="{{ "/"~ lang ~ path_for('categorie') }}"
       class="nav-link text-white d-inline-block px-4 mx-1 cat-link">Voir Tout</a>
</nav>